<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <!-- About MQ Pikachu -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="footer-title animate__animated animate__fadeIn">MQ Pikachu</h5>
                <p class="animate__animated animate__fadeIn animate__delay-1s">Hướng dẫn bạn nhận thưởng 570K và khám
                    phá ONUS một cách dễ dàng. Thông tin chính xác, hỗ trợ tận tâm.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 col-md-6 mb-4">
                <h5 class="footer-title animate__animated animate__fadeIn">Liên kết nhanh</h5>
                <ul class="list-unstyled animate__animated animate__fadeIn animate__delay-1s">
                    <li><a href="../index.html" class="footer-link">Trang chủ</a></li>
                    <li><a href="../pages/onus/huong-dan-nhan-thuong.html" class="footer-link">Nhận thưởng 570K</a></li>
                    <li><a href="../pages/onus/tinh-nang/nap.html" class="footer-link">Hướng dẫn ONUS</a></li>
                    <li><a href="../donations.html" class="footer-link">Donations</a></li>
                </ul>
            </div>

            <!-- Resources -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title animate__animated animate__fadeIn">Tài nguyên</h5>
                <ul class="list-unstyled animate__animated animate__fadeIn animate__delay-1s">
                    <li><a href="../pages/onus/blog/cac-dong-coins-duoc-nhan-lai.html" class="footer-link">Blog kiến
                            thức</a></li>
                    <li><a href="../pages/onus/trading/futures.html" class="footer-link">Trading</a></li>
                    <li><a href="../pages/onus/dau-tu/staking.html" class="footer-link">Đầu tư</a></li>
                    <li><a href="../pages/web/huong-dan-lam-website.html" class="footer-link">Hướng dẫn làm website</a>
                    </li>
                </ul>
            </div>

            <!-- Contact & Social -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title animate__animated animate__fadeIn">Liên hệ</h5>
                <ul class="list-unstyled animate__animated animate__fadeIn animate__delay-1s">
                    <li><a href="mailto:quandtm0610@gmail.com" class="footer-link">Email: quandtm0610@gmail.com</a></li>
                    <li><a href="" class="footer-link">Tele: @chunhan288</a></li>
                    <li><a href="" class="footer-link">Zalo: 0973807027</a></li>
                    <li><a href="../donations.html" class="footer-link">Ủng hộ chúng tôi</a></li>
                </ul>
                <div class="social-icons mt-3 animate__animated animate__fadeIn animate__delay-2s">
                    <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center mt-4">
            <p class="animate__animated animate__fadeIn">&copy; 2025 MQ Pikachu. All rights reserved.</p>
        </div>
    </div>
</footer>